QLabel 
{
    color: black;
    qproperty-alignment: AlignCenter;
    font-weight:600;
}

QLineEdit
{
    background-color: white;
}

QPushButton 
{
    background-color: #83b2e7;
    color: black;
    font-weight:550;
}

QPushButton:hover
{
    background-color: #365c94;
}

QPushButton:disabled
{
    background-color:rgb(181, 203, 235);
    color: gray;
}

QWidget#mainWindow
{
    background-color: #e1e4e8;
}